body{
    background-color: rgb(49, 98, 37);
    font-family: Epunda Slab;
    color: rgb(246, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #34783d;
    color: white;
    font-family: Salsa;
}

.passo{
    display: none; 
}

.passo.ativo{
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}

img{
     max-width: 90%;
}